@import url(root.css);
@import url(navigation.css);
@import url(deposit.css);
@import url(history.css);

h2 {
  font-size: var(--Mainheading);
}
h3 {
  font-size: var(--Subheading);
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 15px 15px;
}

@media screen and (max-width: 992px) and (min-width: 545px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 544px) {
  .container {
    flex-direction: column;
    overflow: hidden;
    padding: 0;
  }
}
